.container {
  width: 1400px;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  body {
    width: 700px;
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
}
.header {
  background-color: #163A24;
  width: 95%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.header__nav {
  align-items: center;
  display: flex;
}
.header__nav :active {
  opacity: 0.5;
  border: 2px solid black;
}
.header__nav button {
  color: aliceblue;
  border: none;
  padding: 15px 25px;
  border-radius: 30px;
  background-color: #198C36;
  margin-left: 20px;
}
.header__nav button :hover {
  border: none;
  border-bottom: 2px solid white;
}
.header__nav li {
  margin-inline: 20px;
}
.header__nav li :hover {
  border: none;
  border-bottom: 2px solid white;
}

li {
  font-style: normal;
  font-family: "Noto Sans";
  list-style: none;
  color: aliceblue;
}

a {
  text-decoration: none;
  color: aliceblue;
}

@media screen and (max-width: 500px) {
  .container {
    width: 500px;
  }
  .header {
    display: flex;
    width: 95%;
  }
  .header li {
    margin-inline: 5px;
  }
  .header button {
    padding: 3px 5px;
  }
}
.main {
  width: 95%;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  .main {
    width: 95%;
    margin: 0 auto;
  }
}
.main__bir {
  margin: 0 auto;
  display: flex;
  background-color: #163A24;
}
.main__bir__text {
  margin-top: 100px;
  margin-left: 200px;
}
.main__bir__text p {
  color: aliceblue;
  width: 350px;
}
.main__bir__text h1 {
  width: 350px;
  color: aliceblue;
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 55px;
}

@media screen and (max-width: 500px) {
  .main__bir {
    margin: -100px auto;
    display: block;
    background-color: #163A24;
  }
  .main__bir__img img {
    width: 450px;
    height: 450px;
    margin-left: 15px;
  }
  .main__bir__text {
    margin-left: 100px;
  }
  .main__bir__text p {
    color: aliceblue;
    width: 300px;
  }
  .main__bir__text h1 {
    width: 300px;
    color: aliceblue;
    font-family: "Recoleta";
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
  }
}
.main__ikki {
  justify-content: center;
  display: flex;
  align-items: center;
}
.main__ikki__text {
  margin-left: 50px;
  display: block;
}
.main__ikki__text h2 {
  font-family: "Recoleta";
  font-style: normal;
  width: 350px;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
}
.main__ikki__text p {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  width: 320px;
  font-size: 18px;
  line-height: 27px;
}

@media screen and (max-width: 500px) {
  .main__ikki {
    display: block;
    margin-top: 100px;
    justify-content: center;
  }
  .main__ikki__pic img {
    margin-left: 10px;
    width: 450px;
    height: 450px;
  }
  .main__ikki__text {
    justify-content: center;
    text-align: center;
    display: block;
  }
  .main__ikki__text__text {
    margin-left: 50px;
    display: block;
  }
  .main__ikki__text__text h2 {
    font-family: "Recoleta";
    font-style: normal;
    width: 300px;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
  }
  .main__ikki__text__text p {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 300;
    width: 280px;
    font-size: 10px;
    line-height: 20px;
  }
}
.main__partner {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.main__partner__h3 {
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  color: #163A24;
}
.main__partner__ul {
  width: 900px;
  margin: 0 auto;
  align-items: center;
  display: flex;
}
.main__partner__ul li {
  margin-inline: 40px;
}
.main__partner__ul li :hover {
  background-color: rgba(92, 95, 98, 0.276);
}

@media screen and (max-width: 500px) {
  .main__partner {
    width: 95%;
    display: block;
  }
  .main__partner__h3 {
    font-family: "Recoleta";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    color: #163A24;
  }
  .main__partner__ul {
    width: 200px;
    margin: 0 auto;
    align-items: center;
    display: block;
  }
  .main__partner__ul li {
    margin-top: 50px;
  }
  .main__partner__ul li :hover:active {
    border: 2px solid;
    background-color: rgba(125, 125, 125, 0.329);
  }
}
.main__ser {
  background-color: #163A24;
  width: 100%;
  margin: 0 auto;
}
.main__ser__h3 {
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  /* identical to box height, or 112% */
  text-align: center;
  color: #FBFAF7;
}
.main__ser__ul {
  display: flex;
  margin: 0 auto;
  text-align: center;
  width: 1200px;
}
.main__ser__ul :hover:active {
  background-color: rgba(251, 250, 247, 0.4784313725);
}
.main__ser__ul__li {
  margin-inline: 70px;
}
.main__ser__ul__li p {
  width: 150px;
}

@media screen and (max-width: 500px) {
  .main__ser {
    background-color: #163A24;
    width: 100%;
    margin: 0 auto;
  }
  .main__ser__h3 {
    font-family: "Recoleta";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 54px;
    /* identical to box height, or 112% */
    text-align: center;
    color: #FBFAF7;
  }
  .main__ser__ul {
    margin-right: 50px;
    display: block;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
  }
  .main__ser__ul__li {
    width: 300px;
    margin-top: 120px;
  }
  .main__ser__ul__li p {
    font-size: 30px;
    width: 270px;
  }
}
.main__bacha {
  background-color: #F2EFE6;
  padding-top: 50px;
  width: 100%;
  margin: 0 auto 50px 0;
}
.main__bacha__p {
  width: 580px;
  margin: 0 auto;
}
.main__bacha img {
  margin: 0 70px 0;
}
.main__bacha__h3 {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 700px;
  margin: 0 auto;
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  color: #163A24;
}

@media screen and (max-width: 500px) {
  .main__bacha {
    background-color: #F2EFE6;
    width: 100%;
    margin: 0 auto;
  }
  .main__bacha__p {
    text-align: center;
    width: 450px;
    margin: 0 auto;
  }
  .main__bacha img {
    width: 470px;
    height: 200px;
    margin: 0 auto;
  }
  .main__bacha__h3 {
    margin-top: 50px;
    margin-bottom: 20px;
    width: 450px;
    margin: 0 auto;
    font-family: "Recoleta";
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #163A24;
  }
}
.main__card {
  margin: auto;
}
.main__card__text h2 {
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 54px;
  /* identical to box height, or 112% */
  text-align: center;
  color: #163A24;
}
.main__card__text p {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 27px;
  text-align: center;
  color: #163A24;
}
.main__card__cardlar {
  width: 800px;
  margin: 0 auto;
  display: flex;
}
.main__card__cardlar__kard2 {
  margin-inline: 40px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.334);
}
.main__card__cardlar__kard2__text li {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #163A24;
}
.main__card__cardlar__kard2__text li h3 {
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
}
.main__card__cardlar__kard {
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.334);
}
.main__card__cardlar__kard__text {
  text-align: left;
}
.main__card__cardlar__kard__text li {
  margin-inline: 100px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #163A24;
}
.main__card__cardlar__kard__text li h3 {
  font-family: "Recoleta";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  color: #163A24;
}

@media screen and (max-width: 500px) {
  .main__card__cardlar {
    text-align: center;
    display: block;
  }
  .main__card__cardlar__kard2 {
    width: 300px;
    margin-left: 100px;
  }
  .main__card__cardlar__kard2 :hover:active {
    opacity: 0.3;
  }
  .main__card__cardlar__kard2__text li {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #163A24;
  }
  .main__card__cardlar__kard2__text li h3 {
    font-family: "Recoleta";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    color: #163A24;
  }
  .main__card__cardlar__kard {
    margin-left: 100px;
    width: 300px;
  }
  .main__card__cardlar__kard__text li {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #163A24;
  }
  .main__card__cardlar__kard__text li h3 {
    font-family: "Recoleta";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
    color: #163A24;
  }
}

/*# sourceMappingURL=main.css.map */
